<label>Server Name</label>
<!-- untuk memberitahu kalau parameter tsbt adalah event maka harus memakai reserved name yaitu $event -->
<input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
>

<!-- 
   1.   untuk two-ways data binding, penulisannya adalah [(ngModel)] = "namaProperty" 
   2.   jadi prinsipnya kalau ada data yg terupdate di ts, di template yg ditunjukan ke user juga akan terupdate
        seandainya user memberikan input baru, data di ts juga akan terupdate sesuai dengan user
-->
<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<p>{{serverName}}</p>
<!-- 
    1.  property binding mengikat attribute/properties pada element html supaya bisa kita ubah secara dinamis di ts
    2.  cara penulisannya adalah [namaProperty] = "namaProperty"
    3.  Pada kasus dibawah dia bisa terdisable dengan mengikuti logik/nilai(value) 
        yg ada di properti class ServersComponent yaitu allowNewServer
    
    4. event binding mengikat HTML event dan mengeksekusi event sesuai dengan kondisi yg kita set di ts.
    5. cara penulisannya adalah (namaEvent) = "namaMethod()""
 -->
<button 
    [disabled]="!allowNewServer" 
    class="btn btn-primary"
    (click)="onCreateServer()">Input</button>
<p>{{serverCreationStatus}}</p>

<!-- <p [innerText]="allowNewServer"></p> -->
<!-- 
    Q: Kapan menggunakan string interpolation dan kapan menggunakan property binding ?
    A: 
        String interpolation :
            ketika ingin mengeluarkan sesuatu dari template, print beberapa text di sana
        Property Binding : 
            ketika ingin mengubah property bisa saja properti element html ataupun directive 
-->

<!-- kita bisa memanggil Component berulang kali dan tidak hanya sekali
    di bawah ini adalah contoh dari pemakaian Component app-server
-->  
<app-server></app-server>
<app-server></app-server>
