<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>This is app component</h1>
      <hr>
      <!--
        yg dipanggil disini adalah Component app-servers dimana didalamnya ada 2 Component app-server
        dengan kata lain, kita bisa membuat nested Component
      -->
      <!-- 1. di bawah ini cara pemanggilan app-servers bila sebagai attribute -->
      <!-- <div app-servers></div> -->

      <!-- 2. di bawah ini cara pemanggilan app-servers bila sebagai class -->
      <!-- <div class="app-servers"></div> -->

      <app-servers></app-servers>
    </div>
  </div>
</div>
